<md-input-container flex layout="row">
    <md-icon md-svg-src="images/ic_account_circle_black_24px.svg"></md-icon>
    <input ng-model="vm.user.username" aria-label="User Name"></input>
</md-input-container>
<md-input-container flex layout="row">
    <md-icon md-svg-src="images/ic_email_black_24px.svg"></md-icon>
    <input ng-model="vm.user.email" aria-label="User Name"></input>
</md-input-container>
<md-input-container flex layout="row">
    <md-icon md-svg-src="images/ic_contact_phone_black_24px.svg"></md-icon>
    <input ng-model="vm.user.phone" aria-label="User Name"></input>
</md-input-container>
<md-input-container flex layout="row">
    <md-icon md-svg-src="images/ic_web_black_24px.svg"></md-icon>
    <input ng-model="vm.user.website" aria-label="User Name"></input>
</md-input-container>
